@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {

/* define global CSS variables */
    /* the color to be used for links, some buttons and bars; use it via 'var(--global-color)' */
    :root{--global-color:#090909;}

/* some minimalism by hiding unnecessary elements */
    /* YouTube logo in header */
    #logo.style-scope.ytd-masthead{ display: none; }
    /* fix the header at the top, such that one can scroll down */
    #masthead-container{ position: absolute !important;}

/* some beautifications to match a personal style &/or taste */
    /* change the color of the progress bar and the according button */
    div.ytp-play-progress.ytp-swatch-background-color{background-color: var(--global-color) !important;}
    div.ytp-scrubber-button.ytp-swatch-background-color{background-color: var(--global-color) !important;}
    /* text and border color of the 'live now' notification */
    .badge-style-type-live-now.ytd-badge-supported-renderer{color: var(--global-color) !important; border: 1px solid var(--global-color) !important;}
    /* change the color of the like bar */
    #like-bar.ytd-sentiment-bar-renderer{background: var(--global-color) !important;}
    /* change color of toggle switch to enable/disable autoplay */
    .toggle-button.paper-toggle-button{background-color: var(--global-color) !important;}
    /* FAILED change the video control buttons' colors */
    /*.ytp-chrome-controls{color: #7efcff !important;}*/
    /* change the color of links */
    /*a:link{color: var(--global-color) !important;}*/
    /* all kinds of icons/buttons scattered all over the page (regular colors: white/grey/red) */
    yt-icon{color: var(--global-color) !important;}
    /* the subscribe and sign-in buttons, as well as share/like/etc */
    ytd-button-renderer{background-color: var(--global-color) !important;}
    /*#button{background-color: transparent !important;}*/

/* a test on taking out most of the colors on YouTube */
    /* this affects all static images */
    #img{filter: grayscale(75%)}
    /* text on Sign-In buttons */
    ytd-button-renderer.style-blue-text[is-paper-button]{color: grey !important;}

/* prevents messages being shown anew every session due to lost cookies, e.g. when browsing in private mode */
    paper-dialog.style-scope.ytd-popup-container{ display: none !important;}
    #player-ads.style-scope.ytd-watch-flexy{ display: none !important; } /* removes some ads */
    yt-bubble-hint-renderer.style-scope.ytd-popup-container{ display: none !important; }
    #ticker.style-scope.ytd-masthead{ display: none !important; } /* hides a privacy reminder */
    yt-tooltip-renderer.style-scope.ytd-popup-container{ display: none !important; } /* hides a reminder not being signed in to YouTube */
    div.video-ads.ytp-ad-module{ display: none !important; } /* hides ads being within the region of the video player */
    div#alert-banner.style-scope.ytd-browse{ display: none !important; } /* hides info box about updated terms of service */
}
